Package: nl.bypass.jailmonkey
Name: bypassmonkey
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bypass JailMonkey jailbreak detection
Maintainer: Jasper
Author: Jasper
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
